header{
    font-size: 50px;
}
body{
background-color: rgb(223,223,223);
text-decoration: none;
}
nav{
    background-color:rgb(223,223,223)
;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    width: 100%;
    border:solid rgb(96, 96, 105);
    font-weight: bold;
    
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    padding: 0;
}
#date {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

table{

    font-size: 25px;
    
    
}
tr{
    text-align: center;
   


}

button{

    background-color: lightgrey;
    font-size: 30px;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    border: 10px solid whitesmoke;
    width: 500px;
    margin-right: 100px
    

    
    
   

}


button:hover{

    
    background-color: rgb(166, 162, 231);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.1);
  
    




}


td{
    border: solid black;
    border-radius: 10px;
}



h3{

    font-size: 30px;


}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 50;
}
form,input,textarea{
    border-radius: 10px;
}
